@model MvcApplication1.Models.SearchHotel

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.hotelName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.hotelName)
    @Html.ValidationMessageFor(model => model.hotelName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.city)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.city)
    @Html.ValidationMessageFor(model => model.city)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.review)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.review)
    @Html.ValidationMessageFor(model => model.review)
</div>

