@model MvcApplication1.Models.HotelDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(new { HotelId = ViewBag.HotelId }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HotelDetail</legend>


        
        <div class="editor-label">
            @Html.LabelFor(model => model.docID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.docID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hotelName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.hotelName)

        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.cleanliness)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cleanliness)
            @Html.ValidationMessageFor(model => model.cleanliness)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.room)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.room)
            @Html.ValidationMessageFor(model => model.room)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.service)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.service)
            @Html.ValidationMessageFor(model => model.service)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.location)
            @Html.ValidationMessageFor(model => model.location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value)
            @Html.ValidationMessageFor(model => model.value)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
